
@import "./vars.scss";

*{
  box-sizing: border-box;
}

html{
  width: 100%;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: $defaultColor;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
ul{
  list-style-type: none;
  padding: 0;
}
textarea{
  resize: none;
}